PORT=5000
API_ID=your_api_id
API_HASH=your_api_hash
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/dbname
BOT_TOKEN=your_bot_token
CHANNEL_ID=your_channel_id
JWT_SECRET=your_jwt_secret
API_AUTH_HASH=your_api_auth_hash
# The Hash secret for watch links
STREAM_SECRET=your_stream_secret
